.product-container{
    background-color: white;
    padding:0;
    height: fit-content;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.06);
}
main{
    margin-left:15%;
    margin-right: 15%;
    width:auto;
    padding-top: 70px;
    padding-bottom: 14px;
}

#root{
    background-color: #2a5408 !important;
}