.addToCartContainer{
    display: inline-flex;
    margin-top:4%;
}
.productQuantity{
    margin-left: 7px;
    margin-right:7px;
    font-weight: 600;
        font-size: x-large;
}
.addToCartButton{
    margin-right: 15px;
    background-color: #64CD33;
    font-weight: 600;
    border-radius: 8%;
    padding: 10px 20px 10px 20px;
    border-style: none;
}
.addToCartButton:focus{
    outline: none;
}
.addToCartButton:hover{
    background-color: #2E6116;
}
.incDecButton{
    background-color: #64CD33;
    font-weight: 600;
    border-radius: 63%;
    padding: 10px;
    border-style: none;
}
.incDecButton:focus{
    outline: none;
}
.incDecButton:hover{
    background-color: #2E6116;
}
